<h1>SPECIES DESTROYED!!!!"</h1>

<img src="http://www.betterthanpants.com/media/catalog/product/A/l/All-My-Friends-Are-Dead-Dinosaur-big.png" alt="a picture of a sad dino who is saying that all of his friends are dead">

<p>Would you like to <a href="/species">see all the species</a>, or <a href="/species/new">create a new one</a>?</p>
