<h1>Welcome To THE Jungle</h1>

<ul>
  <% @species.each do |species| %>
  <li><a href= "species/<%= species.id %>"><%= species.name %></a></li>
  <% end %>
</ul>

<p><a href="/species/new">I saw a new species!</a></p>
