<h1>New Species!</h1>

<form action="/species" method="post">
  <label for="species_name">Name</label>
  <input id="specie_name" name="name" type="text">
  <button>Add Species</button>
</form>
<p><a href="/species">JK Didn't See a New Species LOL</a></p>
