<h6>WINNNNNEEEEERRR</h6>

<h4>You Found A New Species and Addeded It Before Anybody Else!</h4>

<h4>Or you just updated one either way <h1>Winner!</h1></h4>

<p><a href="/species/new">Add Another</a></p>
<p><a href="/species">go big or GO HOME</a></p>
