<h1>Edit Spotting</h1>

<p> EDIT FUNCTIONALITY GOES HERE.  WE WILL COME BACK WHEN WE ARE DONE WITH THE REST OF THE PROJECT BECUASE WE ADDED EDIT FUNCTIONALITY IN THE SPECIES CLASS AND WANT TO GET TO NEW THINGS. </p>

<a href="/">Go home</a>
