<!DOCTYPE html>
<html>

<head>
  <title>In the Jungle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>
<embed src="http://www.marmosetmom.com/In_The_Jungle_The_Mighty_Jungle_-_Lion_King.mp3" autostart="true" loop="true" hidden="true"><embed>
</body>
</html>
